.container {
  margin: 20px;
  font-family: monospace;
  text-align: center;
  background-color: gold;
  background-size: cover;
}

select {
  width: 100px;
  font-family: monospace;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.chart-container {
  width: 80%;
  height: 80%;
}